FPTAI_API_KEY=
FPTAI_VOICE=banmai
FPTAI_SPEED=0
FPTAI_FORMAT=mp3

ELEVENLABS_API_KEY=
ELEVENLABS_VOICE_ID=SAz9YHcvj6GT2YYXdXww
ELEVENLABS_MODEL_ID=eleven_multilingual_v2
ELEVENLABS_OUTPUT_FORMAT=mp3_44100_128
